h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: left;
}

/*container style*/
#main_container {
  width: 100%;
  text-align: center;
}

#inner_container {
  width: 600px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

#input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

#password_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#username_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#button_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

#username:focus {
  background-color: lightgreen;
}
#password:focus {
  background-color: lightseagreen;
}

/*eye button*/
.eye {
  margin-left: -25px;
  z-index: 1;
}

.eye:hover {
  cursor: pointer;
}

.eye.active {
  color: #1a8cff;
}

label {
  max-width: 20%;
  text-align: left;
}

input.txt {
  width: 50%;
}

#gender_container {
  display: flex;
  flex-direction: row;

}

#agreement{
  display: flex;
  flex-direction: row;
}

#agree:hover{
  cursor: pointer;
}

input.btn {
  color: white;
  width: 100px;
  border-radius: 15px;
  font-weight: bold;
  padding: 4px;
}

input.btn_submit:hover {
  cursor: pointer;
}

input.btn_submit:focus {
  cursor: wait;
}

.button_disabled {
  background-color: #a1a1a1 !important;
  cursor: default !important;
  text-align: center;
}

input[type="submit"] {
  background-color: #1a8cff;
}

input[type="reset"] {
  background-color: #ff471a;
}

.user_selection {
  text-align: start;
}

.selection {
  margin: 5px 8px 5px 0px;
}

input[type="radio"] {
  cursor: pointer;
}

input.ok {
  background-color: #1a8cff;
  margin-top: 10px;
}

input.ok:hover {
  cursor: pointer;
}

input.ok:focus {
  cursor: wait;
}

.false_input_p{
  color: red;
  text-align: left;
}